*~
curr_sim*
s2Dcd/__pycache__*
build
dist
s2Dcd.egg-info
examples/01_Strebelle/*.vtk
examples/02_*
examples/03_*
examples/04_*
examples/deesse_easy
src/s2Dcd/__pycache__/*
examples/01_Strebelle/.ipynb_checkpoints/
examples/01_Strebelle/Untitled.ipynb
examples/01_Strebelle/Untitled1.ipynb
examples/01_Strebelle/untitled
docs

